.player-card {
    position: relative;
    border: solid 1px #a6a6a6;
    border-radius: 3px;
    width: 400px;
    padding: 50px;
    cursor: pointer;
    margin: 15px;
    text-align: left;
    line-height: 1.5;
    background-color: #F8F8F8;
    transition: all 0.2s;
}

.player-card.selected {
    background-color: #EE275A;
    color: #ffffff;
}

.player-card.selected.eligible {
    background-color: #1977F2;
    border-color: #1977F2;
    color: #ffffff;
}

.player-card:hover {
    border-color: #EE275A;
    transform: scale(1.04);
    background-color: #EE275A;
    color: #ffffff;
}

.player-name {
    font-size: 24px;
    font-weight: 800;
    line-height: 2;
}

.player-specs {
    /* color: #4d5158; */
    font-size: 18px;
    line-height: 2;
}

.trade-button {
    position: absolute;
    top: 20px;
    right: 20px;
    border: solid 2px #fff;
    padding: 5px 20px;
    border-radius: 2px;
    text-align: center;
    font-size: 20px;
    background-color: #1977F2;
    transition: all 0.2s;
}

.trade-button:hover {
    transform: scale(1.1);
}

.trade-button:hover>.trade-symbol {
    color: white;
}

.trade-symbol {
    color: #ffffff;
    font-weight: 600;
}