.App {
  text-align: center;
  font-family: Roboto;
}

.App-header {
  font-size: 36px;
  padding-top: 200px;
  margin: 0 auto;
  width: 1020px;
  font-weight: 800;
  text-align: left;
}

#team1, #team2 {
  width: 502px;
  margin: 40px 15px;
  height: 40px;
}

.card-container {
  display: inline-grid;
  height: 800px;
}
