.App {
  text-align: center;
  font-family: Roboto;
}

.App-header {
  font-size: 36px;
  padding-top: 200px;
  margin: 0 auto;
  width: 1020px;
  font-weight: 800;
  text-align: left;
}
.select-container {

}

#team1, #team2 {
  width: 502px;
  margin: 40px 10px;
  height: 40px;
}


.card-container {
  display: inline-grid;
  /*overflow-y: scroll;*/
  height: 800px;
}
.player-card {
  position: relative;
  border: solid 1px #a6a6a6;
  border-radius: 3px;
  width: 400px;
  padding: 50px;
  cursor: pointer;
  margin: 15px;
  text-align: left;
  line-height: 1.5;
  background-color: #F8F8F8;
  transition: all 0.2s;
}

.player-card.selected {
  border: solid 2px #EE275A;
}

.player-card:hover {
  border-color: #282C34;
  transform: scale(1.04);
}

.player-name {
  font-size: 24px;
  font-weight: 800;
  line-height: 2;
}

.trade-button {
  position: absolute;
  top: 20px;
  right: 20px;
  border: solid 2px #EE275A;
  padding: 5px 20px;
  border-radius: 2px;
  text-align: center;
  font-size: 20px;
  background-color: #EE275A;
  transition: all 0.2s;
}

.trade-button:hover {
  background-color: #EE275A;
  transform: scale(1.1);
}

.trade-button:hover > .trade-symbol {
  color: white;
}

.trade-symbol {
  color: #ffffff;
  font-weight: 600;
}