.App {
  text-align: center;
  font-family: Roboto;
}

.App-header {
  font-size: 28px;
  margin: 20px;
  font-weight: 600;
}
.select-container {

}

#team1, #team2 {
  margin-bottom: 20px;
  width: 302px;
  margin: 20px 10px 10px 10px;
  height: 40px;
}


.card-container {
  display: inline-block;
  overflow-y: scroll;
  height: 800px;
}
.player-card {
  position: relative;
  border: solid 1px #efefef;
  border-radius: 3px;
  min-width: 200px;
  padding: 50px;
  cursor: pointer;
  margin: 0px 10px 10px 10px;
}

.player-card.selected {
  border-color: forestgreen;
}

.player-card:hover {
  border-color: #282C34;
}

.player-jersey {
  position: absolute;
  top: 10px;
  left: 10px;
}

.trade-button {
  position: absolute;
  top: 10px;
  right: 10px;
}